{% extends "base.html" %}

{% block title %}Vin Number Decoder{% endblock title %}

{% block content %}

    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button>Decode</button>
    </form>


    {% if vehicle %}
        {% if vehicle.AdditionalErrorText %}
            <h2 style="color:red;">
                <p>ERROR: {{vehicle.AdditionalErrorText}}</p>
            </h2>
            <h2>
                <p>ERROR Code(s): {{vehicle.ErrorCode}}</p>
                <p>ErrorText: {{vehicle.ErrorText}}</p>
            </h2>
        {% else %}

            <!--Styles-->
            <style>
                hr {border-top: 1px solid red;}
                table, th, td {
                border-collapse: collapse;
                padding: 15px;
                }
                tr:hover {background-color: #D6EEEE;}
                tr {border-bottom: 1px solid #ddd;}
            </style>


            <!--Basic Information-->
            <h2 style="font-size=150%">Basic Information</h2>

            <table size="width:100%" style="font-family:Monaco">
                <tr style="font-size:120%">
                    <th>Make</th>
                    <th>Model</th>
                    <th>Year</th>
                    <th>Trim</th>
                    <th>Vehicle Type</th>
                    <th>Body Class</th>
                </tr>

                <tr style="font-size:95%">
                    <th>{{vehicle.Make|default:"*"}}</th>
                    <th> {{vehicle.Model|default:"*"}} </th>
                    <th> {{vehicle.ModelYear|default:"*"}} </th>
                    <th> {{vehicle.Trim|default:"*"}} </th>
                    <th> {{vehicle.VehicleType|default:"*"}} </th>
                    <th> {{vehicle.BodyClass}} </th>
                </tr>
            </table>


            <br><br>
            <hr style="background-color:red;">

            <!--Performance information-->
            <h2 style="font-size=150%">Performance Information</h2>

            <table size="width:100%" style="font-family:Monaco">
                <tr style="font-size:120%">
                    <th>Engine Volume (Liter)</th>
                    <th>Engine Volume (CI)</th>
                    <th>Power</th>
                    <th>Cylinders</th>
                    <th>Drive type</th>
                    <th>Transmission</th>
                </tr>

                <tr style="font-size:95%">
                    <th>{{vehicle.DisplacementL|default:"*"}}</th>
                    <th>{{vehicle.DisplacementCI|default:"*"}}</th>
                    <th> {{vehicle.EngineHP|default:"*"}} </th>
                    <th> {{vehicle.EngineCylinders|default:"*"}} </th>
                    <th> {{vehicle.DriveType|default:"*"}} </th>
                    <th> {{vehicle.TransmissionSpeed|default:"*"}} </th>
                </tr>
            </table>


            <br><br>
            <hr style="background-color:red;">

            <!--Fuel information-->
            <h2 style="font-size=150%">Fuel Information</h2>

            <table size="width:100%" style="font-family:Monaco">
                <tr style="font-size:120%">
                    <th>Primary Fuel Type</th>
                    <th>Secondary Fuel Type</th>
                    <th>Battery (KWh) [if it's electric]</th>
                    <th>Battery Type [if it's electric]</th>
                    <th>Charger Power (KWh) [if it's electric]</th>
                </tr>

                <tr style="font-size:95%">
                    <th>{{vehicle.FuelTypePrimary|default:"*"}}</th>
                    <th> {{vehicle.FuelTypeScondary|default:"*"}} </th>
                    <th> {{vehicle.BatteryKWh|default:"*"}} </th>
                    <th> {{vehicle.ChargerPowerKW|default:"*"}} </th>
                    <th> {{vehicle.ChargerPowerKW |default:"*"}} </th>
                </tr>
            </table>


            <br><br>
            <hr style="background-color:red;">

            <!--Safety information-->
            <h2 style="font-size=150%">Safety Information</h2>

            <table size="width:100%" style="font-family:Monaco">
                <tr style="font-size:120%">
                    <th>Front Airbag</th>
                    <th>Knee Airbag</th>
                    <th>Seat Cushion Airbag</th>
                    <th>Side Airbag</th>
                    <th>Pretensioner</th>
                    <th>ABS</th>
                    <th>ESC</th>
                    <th>TPMS</th>
                </tr>

                <tr style="font-size:95%">
                    <th>{{vehicle.AirBagLocFront|default:"*"}}</th>
                    <th> {{vehicle.AirBagLocKnee|default:"*"}} </th>
                    <th> {{vehicle.AirBagLocSeatCushion|default:"*"}} </th>
                    <th> {{vehicle.AirBagLocSide|default:"*"}} </th>
                    <th> {{vehicle.Pretensioner |default:"*"}} </th>
                    <th> {{vehicle.ABS|default:"*"}} </th>
                    <th> {{vehivle.ESC|default:"*"}} </th>
                    <th> {{vehicle.TPMS|default:"*"}} </th>
                </tr>
            </table>


            <br><br>
            <hr style="background-color:red;">

            <!--Price information-->
            <h2 style="font-size=150%">Safety Information</h2>

            <table size="width:100%" style="font-family:Monaco">
                <tr style="font-size:120%">
                    <th>Base Price</th>
                    <th>Series</th>
                    <th>Destination Market</th>
                </tr>

                <tr style="font-size:95%">
                    <th>{{vehicle.BasePrice|default:"*"}}</th>
                    <th> {{vehicle.Series|default:"*"}} </th>
                    <th> {{vehicle.DestinationMarket|default:"*"}} </th>
                </tr>
            </table>
            <h2 style="color:red">*: NHTSA does not have data on the specific variable</h2>
            <br><br>

            {% if vehicle.ErrorCode %}
                <h2>
                    <p>ERROR Code(s): {{vehicle.ErrorCode}}</p>
                    <p>ErrorText: {{vehicle.ErrorText}}</p>
                </h2>
            {% endif %}
        {% endif %}

    {% endif %}
{% endblock content %}