# Created by venv; see https://docs.python.org/3/library/venv.html
.github
Include
Lib
Scripts
.env
kaggle.json
pyvenv.cfg
CarWebsite/db.sqlite3
CarWebsite/static
__pycache__/
CarWebsite/Formula1/management/
share