{% extends "base.html" %}
{% block title %}Main Page{% endblock title %}

{% block content %}
    <h1>
        welcome to our website
    </h1>

    <h2>
        <a href='{% url "website:NHTSA_MY_search" %}'>to get all models for a company click here</a>
        <br>
        <a href="{% url 'website:NHTSA_VinDecoder' %}">Vin Number Decoder</a>
    </h2>

        <br><br>
        <h1>
            here are some general information about cars
            <br>
        </h1>
        <h3>
            {% if body_type %}
                Body types:
                <br>
                {% for i in body_type %}
                    <li>{{i}}</li>
                {% endfor %}
                <br>
            {% endif %}

            {% if cylinders %}
                Cylinders:
                <br>
                {% for i in cylinders %}
                    <li> {{i}} </li>
                {% endfor %}
                <br>
            {% endif %}

            {% if drive_types %}
                Drive Types:
                <br>
                {% for i in drive_types %}
                    <li> {{i}} </li>
                {% endfor %}
                <br>
            {% endif %}

            {% if fuel_types %}
                Fuel Types:
                <br>
                {% for i in fuel_types %}
                    <li> {{i}} </li>
                {% endfor %}
                <br>
            {% endif %}

            {% if transmission %}
                Transmissions:
                <br>
                {% for i in transmission %}
                    <li> {{i}} </li>
                {% endfor %}
                <br>
            {% endif %}

            {% if valves %}
                Valves:
                <br>
                {% for i in valves %}
                    <li> {{i}} </li>
                {% endfor %}
            {% endif %}
        </h3>


    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock content %}
