{% extends "base.html" %}
{% block title %}Main Page{% endblock title %}

{% block content %}
    <h1>
        welcome to our website
    </h1>

    <h2>
        <a href='{% url "website:NHTSA_MY_search" %}'>to get all models for a company click here</a>
        <br>
    </h2>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock content %}
